@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html, body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%; 
}

#page1{
    min-height: 100vh;
    width: 100%;
    background-color:#EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav{
    padding: 2vw 0vw;
    height: 100px;
    width: 100%;
    /* background-color: red;  */

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #8a8a8a89;
    border-radius: 50px;
    font-weight: 500;
    color: black;
    position: relative;
    font-size: 17px;
    transition: all ease 0.4s;
    overflow: hidden;
}

#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left : 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}


#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;

}

#nav-part2 h4 a{
    color: black;
    text-decoration: none;
    z-index: 9;
    position: relative;
}

#nav-part2 h4:hover a{
    color: white;

}

#center{
height: 65vh;
width: 100%;
background-color: orange;
display: flex;
align-items: flex-end;
justify-content: space-between;
border-bottom: 1px solid black;
padding-bottom: 2.5vw;
}

#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;

}

#page1 video {
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}

#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
   
    right: 0;
    top: 65vh;
    /* filter: blur(20px); */
}

#hero1{
    height: 100%;
    width: 100%;
    background-color: #FE320A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero2{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(90deg, #FE320A, #FE570A);
    /* background-color: linear-gradient(#FE320A,#FE570A); */
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;

    
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#hero3{
    height: 30vw;
    width: 30vw;
    background: linear-gradient(90deg, #FE320A, #FE570A);
    /* background-color: linear-gradient(#FE320A,#FE570A); */
    border-radius: 50%;
    filter: blur(25px);
    position: absolute;

    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from{
        transform:translate(55%, -3%);
    }
    to{
        transform: translate(0%, 10%);
    }
}


@keyframes anime2 {
    from{
        transform:translate(5%, -5%);
    }
    to{
        transform: translate(-20%, 30%);
    }
}